@media only screen and (max-width: 768px) {
    header{
        position: sticky;
    }
    .inside #map-container{
        position: relative;
        height: 300px;
        width: 100%;
        margin-top: -80px;
    
    }
    .inside header {
      position: sticky;
      top: 0;
      width: 100%;
    }
    #breadcrumb {
      padding: 10px 40px 16px;
      list-style: none;
      background-color: #eee;
      font-size: 17px;
      margin: 0;
      width: calc(100% - 80px);
  }
  #restaurant-container, #reviews-container {
    border-bottom: 1px solid #502532;
    border-top: 1px solid #fff;
    padding: 140px 10px 30px;
    width: calc(100% - 20px );
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
    }
   