@media screen and (min-width: 320px) and (max-width: 410px) {
    nav h1 a {
        font-size: 0.7em;
        letter-spacing: 5px;
    }
    .filter-options h2 {
        font-size: 1em;
    }
    .filter-options select {
        font-size: 1em;
        width: 70%;
    }
    #restaurant-name {
        font-size: 1.5em;
    }
    #restaurant-address {
        font-size: 1.1em;
    }
    #restaurant-hours {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    #map {
        height: 150px;
        margin-bottom: 20px;
    }
    #reviews-list {
        width: 90%;
        margin-left: 10px;
    }
}